/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

/* Compatibility rule for default TinyMCE skin (for td element): */
td {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   margin: inherit;
}

body, table
{
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

body, table
{
   text-align: left;
}

body 
{
   direction: ltr;
   color: #78685A;
   background: #DFD6C0;
}

li,
table,
a,
a:link,
a:visited,
a:hover
{
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
}

p
{
   margin: 12px 0;
}

h1,
h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h2,
h2 a,
h2 a:link,
h2 a:visited,
h2 a:hover,
h3,
h3 a,
h3 a:link,
h3 a:visited,
h3 a:hover,
h4,
h4 a,
h4 a:link,
h4 a:visited,
h4 a:hover,
h5,
h5 a,
h5 a:link,
h5 a:visited,
h5 a:hover,
h6,
h6 a,
h6 a:link,
h6 a:visited,
h6 a:hover
{
   font-family: "Alex Brush",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

a
{
   text-decoration: none;
   color: #78685A;
}

a:link
{
   text-decoration: none;
   color: #78685A;
}

a:visited
{
   color: #B69886;
}

a:hover
{
   text-decoration: underline;
   color: #917159;
}

h1
{
   color: #5C5C5C;
   margin: 10px 0 0;
   font-size: 36px;
}

h1 a,
h1 a:link,
h1 a:hover,
h1 a:visited
{
   font-size: 36px;
}

h2
{
   color: #5C5C5C;
   margin: 10px 0 0;
}

h3
{
   color: #5C5C5C;
   margin: 10px 0 0;
   font-size: 18px;
}

h3 a,
h3 a:link,
h3 a:hover,
h3 a:visited
{
   font-size: 18px;
}

h4
{
   color: #616161;
   margin: 10px 0 0;
   font-size: 16px;
}

h4 a,
h4 a:link,
h4 a:hover,
h4 a:visited
{
   font-size: 16px;
}

h5
{
   color: #6E6053;
   margin: 10px 0 0;
   font-size: 14px;
}

h5 a,
h5 a:link,
h5 a:hover,
h5 a:visited
{
   font-size: 14px;
}

h6
{
   color: #5C5C5C;
   margin: 10px 0 0;
   font-size: 13px;
}

h6 a,
h6 a:link,
h6 a:hover,
h6 a:visited
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
   margin: 1em 0 1em 2em;
   padding: 0;
}

ol
{
   list-style-position: inside;
   margin: 1em 0 1em 2em;
   padding: 0;
}

/* end Page */

/* begin Box, Post */
/* set background fot correct editing in administrator: */

a img
{
   border: 0;
}

img
{
   border-color: #DEB596;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

table
{
   border-collapse: collapse;
   margin: 1px;
}

th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}
/* end Box, Post */

/* begin PostBullets */

li
{
   font-size: 13px;
   color: #422815;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 26px;
}

li ol, .art-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 26px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a,
blockquote a:link,
blockquote a:visited,
blockquote a:hover
{
   color: #110F0D;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 10px;
   background-color: #EED9C9;
   margin-left: 50px;
   padding-left: 38px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

