/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

body
{
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover,
.art-blockheader .t, .art-vmenublockheader .t, .art-logo-text, .art-logo-text a,
.art-logo-name, .art-logo-name a, .art-logo-name a:link, .art-logo-name a:visited, .art-logo-name a:hover
{
   font-family: "Alex Brush",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

a
{
   text-decoration: none;
}

a:link
{
   text-decoration: none;
}

a:hover, a.hover
{
   text-decoration: underline;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
   font-size: 36px;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
   font-size: 18px;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
   font-size: 16px;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
   font-size: 14px;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
   font-size: 13px;
}

#art-main
{
   position: relative;
   width: 100%;
   left: 0;
   top: 0;
   cursor:default;
}

#art-page-background-glare, #art-page-background-middle-texture, #art-page-background-top-texture
{
   display: none;
}

.cleared
{
   float: none;
   clear: both;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 1px;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}
/* end Page */

/* begin Box, Post */
.art-post
{
   margin: 37px;
}

a img
{
   border: 0;
}

.art-article img, img.art-article
{
   margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
   width: auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
   background-color: Transparent;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
   margin: 5px 0;
   font-size: 20px;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 20px;
}

.art-postheader a, .art-postheader a:link
{
   text-align: left;
   text-decoration: none;
}

/* end PostHeaderIcon */

/* begin PostHeader */

/* end PostHeader */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons
{
   padding: 1px;
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
}

.art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
}

.art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
   margin: 0;
}

.art-postheadericons a:link
{
   text-decoration: none;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   text-decoration: underline;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.art-postcontent p
{
   margin: 0.5em 0;
}

.art-postcontent
{
   margin: 0;
}
/* end PostContent */

/* begin PostBullets */
ol, ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
   font-size: 13px;
}

li ol, li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

li
{
   margin: 0.2em 0;
   padding: 0;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

.art-post li
{
   padding: 0 0 0 26px;
   line-height: 1em;
}

.art-post ol li, .art-post ul ol li
{
   background: none;
   padding-left: 0;
}

.art-post ul li, .art-post ol ul li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   padding-left: 26px;
}

/* end PostBullets */

/* begin PostQuote */

blockquote,
.art-postcontent blockquote
{
   margin: 10px 10px 10px 50px;
   padding: {QuoteIconPadding}px {QuoteIconPadding}px {QuoteIconPadding}px {QuoteIconLeftPadding}px;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons
{
   padding: 1px;
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
}

.art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
   font-family: Sathu,Arial, Helvetica, Sans-Serif;
}

.art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
   margin: 0;
}

.art-postfootericons a:link
{
   text-decoration: none;
}

/* end PostIcons, PostFooterIcons */

